@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #6b6b6b;
    overflow-y: hidden;

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #414141;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}